<div class="footer">
    <a href="#" style="margin-right: 40px;">利用規約</a>
        <a href="#" style="margin-left: 40px;">お問い合わせ</a>    
    <center><b>Copyright (C) 2017 gigCorporation. All Rights Reserved.</b></center>
</div>
