    
    <div class="input_keijiban">
        <strong>自慢の掲示板</strong>
    </div>
    <tbody>
            <p>題名：<?= $listinput->input_title ?>
            <?php foreach ($listinput->users as $user): ?> 
                <?= $user->nickname ?>さん 
            <?php endforeach; ?>
            <?= $listinput->input_date ?>
            <a href="<?= $this->Url->build(['controller'=>'Replys', 'action'=>'replyinput', $listinput->input_id]); ?>">返信</a><br></p>
            <p><?= $listinput->input_comment ?></p>
            <?= $this->Html->image($listinput->photo, array('width'=>'40','height'=>'40')); ?>
            <?php foreach ($listinput->replys as $reply): ?>
                <p><?= $reply->return_date ?></p>
                <p><?= $reply->return_title ?></p>
                <p><?= $reply->return_comment ?></P>
            <?php endforeach; ?>
    </tbody>
    <?= $this->Form->button('戻る',['class' => 'back', 'onclick' => 'history.back()']); ?>
