
    <div class="return_title">
        <p>返信投稿</p>
    </div>
    <div class="retrun_area">
        <?php
            echo $this->Form->create();
            echo $this->Form->text('retrun_title', ['class' => 'return_title_mei']);
            echo $this->Form->textarea('input_comment', ['class' => 'return_comment']);
            echo $this->Form->submit('送信', ['class' => 'retrun_input']);

            echo $this->Form->end();
        ?>
    </div>
    <?php
        echo $this->Form->button('キャンセル',['class' => 'cancel', 'onclick' => 'history.back()']);
    ?>
