.postinput_title {
    text-align: center;
    color:black;
}

.input_title {
    margin-left: 270px;
    color: blue;
    font-weight: bold;
}

.input_kaisetu {
    position: relative;
    left: 230px;
    bottom: 15px;
    color: green;
    font-size: initial;
}

.input_daimei {
    position: relative;
    left: 250px;
    bottom: 20px;
    color: blue;
}

.input_daimei_title {
    width: 350px;
    height: 30px;
    position: relative;
    left: 300px;
    bottom: 50px;
}

.daimei_help {
    font-size: initial;
    color: blue;
    position: relative;
    left: 295px;
    bottom: 50px;
}

.area_comment {
    color: blue;
    position: relative;
    left: 230px;
    bottom: 15px;
}

.input_comment{
    width: 600px;
    height: 150px;
    position: relative;
    left: 300px;
    bottom: 70px;
}

.comment_setumei {
    font-size: 11px;
    color: blue;
    position: relative;
    right: 465px;
    bottom: 180px;
}

.comment_setumei2 {    
    font-size: 11px;
    color: darkgreen;
    position: relative;
    left: 100px;
    bottom: 180px;
}

.gazo_title {
    color: blue;
    position: relative;
    left: 190px;
    bottom: 70px;
}



.gazo_title {
    color: blue;
    position: relative;
    left: 190px;
    bottom: 70px;
}

.gazo_setumei1 {
    font-size: 11px;
    color: darkgreen;
    position: relative;
    left: 190px;
    bottom: 80px;
}

.gazo_kaisetu {
    font-size: initial;
    color: darkgreen;
    position: relative;
    left: 320px;
    bottom: 140px;
}
.gazo_kaisetu {
    font-size: initial;
    color: darkgreen;
    position: relative;
    left: 320px;
    bottom: 140px;
}
.gazo_kaisetu {
    font-size: initial;
    color: darkgreen;
    position: relative;
    left: 320px;
    bottom: 140px;
}

.file_data {
    color: blue;
    position: relative;
    left: 300px;
    bottom: 150px;
}

.gazo_file_setumei {
    font-size: initial;
    color: blue;
    position: relative;
    left: 320px;
    bottom: 160px;
}

.add_input {
    width: 110px;
    position: relative;
    left: 1040px;
    bottom: 203px;
}

.cancel {
    width: 100px;
    position: relative;
    left: 900px;
    bottom: 230px;
}
