.mail_input {
    text-align: center;
}


.mail {
    width: 350px;
    height: 25px;
    margin-left: 10px;
}

.password_input {
    text-align: center;
    margin-left: 35px;
}

.password {
    width: 350px;
    height: 25px;
    margin-top: 30px;
    margin-left: 10px;
}

.login {
    width: 100px;
    height: 30px;
    position: relative;
    left: 750px;
    top: 30px;
}

.logback {
    width: 100px;
    height: 30px;
    position: relative;
    left: 550px;
}

.nosinki_user {
    text-align: -webkit-center;
    color: black;
}

.shinki_btn {
    text-align: -webkit-center;
}

.shinki_toroku {
    background-color: gainsboro;
    border: 2px solid #ccc;
    padding: 10px;
    cursor: pointer;
    color: black;
}

.nopassword_user {    
    text-align: center;
    color: black;
}

.password_btn {
    text-align: center;
}

