.post_title {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.input_title {
    margin-left: 300px;
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

.input_kaisetu {
    margin-left: 230px;
    color: green;
}

.daimei {
    margin-left: 250px;
    color: blue;
}

.title_mei {
    margin-left: 15px;
    width: 300px;
    height: 30px;
}

.comment_ran {
    color: blue;
    margin-left: 250px;
    position: relative;
    top: 15px;
}

.comment_setumei {
    color: green;
    font-size: 2px;
    margin-left: 160px;
    position: relative;
    top: 15px;
}

.comment_setumei2 {
    color: green;
    font-size: 2px;
    margin-left: 115px;
    position: relative;
    bottom: 150px;
}

.text_comment {
    height: 180px;
    position: relative;
    bottom: 30px;
}

.gazo_title {
    color: blue;
    margin-left: 220px;
}

.gazo_setumei1 {
    color: green;
    font-size: 2px;
    margin-left: 245px;
}

.gazo_kaisetu {
    color: green;
    font-size: 15px;
    position: relative;
    bottom: 54px;
    left: 315px;
}

.gazo_file {
    color: blue;
    position: relative;
    bottom: 65px;
    left: 310px;
}

.gazo_file_setumei {
    color: green;
    font-size: 14px;
    position: relative;
    bottom: 70px;
    left: 313px;
}

.botton {
    text-align: -webkit-center;
    position: relative;
    bottom: 60px;
    left: 160px;
}


