.passtitle {
    color: black;
    margin-left: 30px;
}

.pass_setumei {
    color: black;
    margin-left: 30px;
}

.input text {
    margin-left:300px;

}
.nickname {
    width: 350px;
    height: 25px;
    margin-left: 20px;
}

.passname {
    margin-left: 300px;
}

.passmail {
    margin-left: 285px;
    margin-top: 15px;
}

.pass_mail {
    width: 350px;
    height: 25px;
    margin-left: 16px;
}

.newpassword {
    margin-left: 270px;
    margin-top: 15px;
}

.new_pass {
    width: 350px;
    height: 25px;
    margin-left:13px;
}

.kakuninpassword {
    margin-left: 235px;
    margin-top: 15px;
}

.kakunin_pass {
    width: 350px;
    height: 25px;
    margin-left:10px;
}

.resetbutton {
    width: 150px;
    height: 35px;
    margin-top: 30px;
    margin-left: 550px;
}

