.heager {
    background: lightgoldenrodyellow;
    position: relative;
    bottom: 20px;
}

.top_name {
    color: blue;
    font-size: 12px;
    position: relative;
    text-align: center;
    bottom: 15px;
}

.login_link {
    position: relative;
    left: 1000px;
    bottom: 70px;
}
