#content {
    background: #fff;
    color: #999;
    padding: 10px 25px 30px 25px;
    font-size: 14pt;
}

div.link {
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #333333;
    width: 200px;
    height: 120px;
}

#link_hyo {
    position: relative;
    right: -10px;
    bottom: 0px;
    border: solid 1px #e0e0e0;
    width: 190px;
    height: 145px;
    background-color: bisque;
}

#a_link1 {
    position: relative;
    top: 11px;
}

#a_link2 {
    position: relative;
    top: 20px;
}

#a_link3 {
    position: relative;
    top: 25px;
}

#a_link4 {
    position: relative;
    top: 30px;
}

#count_hyo {
    border: solid 1px #e0e0e0;
    width: 160px;
    height: 110px;
    position: relative;
    left: 1095px;
    bottom: 190px;
    font-size: 12px;
    color: black;
    background-color: bisque;
}

#count_jikou1 {
    text-align: center;
    position: relative;
    top: 5px;
    right: 15px;
}

#count_jikou2 {
    text-align: center;
    position: relative;
    top: 5px;
    right: 20px;
}

#count_jikou3 {
    text-align: center;
    position: relative;
    bottom: 8px;
    right: 18px;
}

#count_jikou4 {
    text-align: center;
    position: relative;
    bottom: 20px;
    right: 11px;
}

.sait_kaisetu {
    font-size: 15px;
    width: 680px;
    height: 95px;
    position: relative;
    left: 350px;
    bottom: 180px;
    border: solid 1px #e0e0e0;
    background-color: lightgreen;
}

.keijiban_btn {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    text-align: center;
}

.botton_kata {
    background-color: darkorange;
    font-size: 30px;
    padding: 50px 100px;
    position: relative;
    bottom: 150px;
}
