<h2>会員情報登録確認</h2>

<?= $this->Form->create() ?>
    <?= $inputs['nickname'] ?><br>
    <?= $inputs['password'] ?><br>
    <?= $inputs['mailaddress'] ?>

    <?= $this->Form->button('確認',['class' => 'resetbutton']) ?>
    <?= $this->Form->button('戻る',['class' => 'logback', 'onclick' => 'history.back()']); ?>
<?= $this->Form->end() ?>
