<!TYPE html>
    <div class="reply_title">
        <?php
            echo "返信投稿";
        ?>
    </div>
    <div class="reply_input">
        <form action="#" method="post">
            <p class="redaimei">            
                <label>題名<input type="redai" name="title" placeholder="" class="re_title_mei">
                    <label>（全角30字以下）</label>
            </p>
            <div class="recomment">
                <label class="re_comment_ran">本文</label><br>
                <label class="re_comment_setumei">（文字数制限全角500文字）</label><br>
                <label class="re_comment_setumei2">[制限を超えた文は尻切れになります。]</label>
                <textarea name="recomment" row="10" cols="100" class="retext_comment"></textarea><br>
                <div class="rebotton">
                    <input type="submit" class="recancel" name="recancel" value="キャンセル">
                    <input type="submit" class="reinput" name="reinput" value="送信">
                </div>
        </form>
    </div>
    <div class="input_doglist_title">
        <?php
            echo "以下は親記事のメッセージ内容です。"
        ?>
    </div>
    <div class="input_doglist_hyo">
        <ul id="doglist_ichiran">
            <p id="doglist_ichiran_daimei">題名:我が家のわんこです。</p>
            <p id="doglist_ichiran_name">投稿者１さん</p>
            <p id="doglist_ichiran_date">2017/11/06</p>
            <p id="doglist_ichiran_yobi">月曜日</p>
            <p id="doglist_ichiran_time">00:40</p>
        </ul>
    </div>
    <div class="input_doglist_msg">
        <ul id="doglist_msg_hyo">
            <p id="doglist_msg_comment">よろしくお願いします。あああああああああああああ<br>ああああああああああああああああああ
            </p>
            <p id="doglist_msg_gazo">添付画像</p>
        </ul>
        <ul id="reply_info">
            <p id="reply_info_id">１.</p>
            <p id="reply_info_name">返信者１さん</p>
            <p id="reply_info_date">2017/11/06</p>
            <p id="reply_info_yobi">月曜日</p>
            <p id="reply_info_time">01:20</p>
            <p id="reply_info_comment">ううういいういういういういういういういうい<br>ああああああああああああああああ</p>
        </ul>
    </div>    
