<!DCTYPE html>
    <div class="keijiban_title">
        <p id="kei_title">自慢のペットの掲示板</p><br>
    </div>
    <div class="ichiran_btn">
        <a href="http://oshiro.giginc.xyz/PostInput" class="ichiran_kata">✏️投稿する</a><br>
    </div>
    <?php foreach ($data as $obj): ?>
        <div class="input_ichiran_hyo">
            <ul id="input_ichiran">
                <tr>
                    <td><p id="input_ichiran_daimei">題名:<?= $obj->input_title ?></p></td>
                </tr>
    <?php endforeach; ?>

    <div class="input_ichiran_hyo">
        <ul id="input_ichiran">
            <p id="input_ichiran_daimei">題名:我が家のわんこです。</p>
            <p id="input_ichiran_name">投稿者１さん</p>
            <p id="input_ichiran_date">2017/11/06</p>
            <p id="input_ichiran_yobi">月曜日</p>
            <p id="input_ichiran_time">00:40</p>
        </ul>
    </div>
    <div class="input_ichiran_msg">
        <ul id="input_ichiran_msg_hyo">
            <p id="input_ichiran_msg_comment">よろしくお願いします。あああああああああ
ああああ<br>ああああああああああああああああああ
            </p>
            <p id="input_ichiran_msg_gazo">添付画像</p>
        </ul>
    </div>
